<div class="card">
  <div class="card-content">
    <strong class="card-title">
      Agregar Tarea
    </strong>
    <form (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col-s6">
          <input type="text" name="title" [(ngModel)]="task.title" placeholder="Agregue Título">
        </div>
        <div class="input-field col-s6">
            <input type="text" name="description" [(ngModel)]="task.description" placeholder="Agregue Descripción">
        </div>
      </div>
      <input type="submit" class="btn btn-light">
    </form>
  </div>
</div>
